:root {
	--border-radius: 0.3em;
	--text-colour: rgb(248, 248, 248);
}

/* Modifying multiple elements */

body, button, code, input {
	background-color: rgb(29, 29, 29);
	color: var(--text-colour)
}

button, code, input {
	border: 2px solid rgb(170, 170, 170);
}

/* Modifying individual elements */

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: xx-large;
	text-align: center;
}

h2 {
	margin-bottom: 0.33em;
}

p {
	line-height: 1.6;
}

code {
	padding: 0.1%;
}

input {
	padding: 0.15%;
	border-radius: var(--border-radius);
	font-size: x-large;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* a tag/selector */

a {
	color: var(--text-colour);
}

a:active {
	text-decoration: none;
}

/* Button */

button {
	border-radius: var(--border-radius);
	padding: 0.1em 0.5em;
	font-size: large;
	margin-top: 0.82em;
}

button:hover {
	background-color: rgb(80, 80, 80);
}

button:active {
	background-color: rgb(51, 51, 51);
}