body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
	text-align: center;
}

button {
	font-size: medium;
}

p {
	line-height: 1.6;
}

code {
	border-style: groove;
	padding: 2px;
}

input {
	font-size: large;
}